* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  width: 100%;
}
main {
  padding: 1.2rem 14.125rem;
}
nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.7rem;
}
nav img {
  height: 1rem;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sec1 p:first-child {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;
}
.sec1 p:last-child {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3rem;
}
.sec1 {
  margin-top: 2rem;
  text-align: center;
}
.sec2 {
  width: 100%;
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-top: 7rem;
}
.sec2 p {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}
.sec2 img {
  height: 15.6rem;
  width: 22.5rem;
}
.sec2 p:first-child {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}
.sec2 p:last-child {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}
.sec3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  margin-left: -0.5rem;
}
.sec3 p:first-child {
  font-size: 0.7rem;
  margin-top: 0.3rem;
}
.sec3 p:last-child {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.875rem;
  margin-top: 0.5rem;
}
.form {
  gap: 2rem;
  display: grid;
  grid-template-columns: auto 1fr;
}
.head {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem auto 3rem;
  font-size: 0.8rem;
}
.lorem {
  font-size: 1.125rem;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 400;
  line-height: 1.875rem;
  margin-bottom: 2rem;
  flex-grow: 1;
}

.gypsy p:last-child {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: rgba(0, 0, 0, 0.4);
}
.gypsy p:first-child {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 700;
}
.sec4 {
  margin: 3rem auto;
}
.div1 {
  display: flex;
}
.div1 p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
}
.div1 img {
  height: 0.8rem;
  width: 0.8rem;
}
footer p {
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;
}
footer {
  margin: 5rem;
}
.p1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.p1 p:nth-child(2) {
  text-decoration-line: underline;
}
.last {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.gypsy {
  margin-bottom: 2rem;
}
